@mixin crear-flex($column,$justify, $align){
    display: flex;
    flex-direction: $column;
    align-items: $align;
    justify-content: $justify;
}

@mixin linearGradient($color1, $color2,$url){
    background-image: linear-gradient(
        $color1,
        $color2
    ),url($url)
}

@mixin crear-Borde($medida, $estado, $color){
     border: $medida $estado $color;
}

@mixin imagen-de-fondo($url){
    background-image: url($url);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}